<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table class="content-table">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <th>
            <input
              [value]="currentLab.reports.chem7.sampleCollectionDate"
              type="date"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let item of currentLab?.reports?.chem7 | keyvalue"
        >
          <tr *ngIf="item.key != 'sampleCollectionDate'">
            <td>{{ item.key }} (mEq/L)</td>
            <td>
              <ng-container *ngIf="item.value">
                {{ item.value }}
              </ng-container>
              <ng-container *ngIf="!item.value">
                <input type="number" placeholder="Example 100" name="" id="" />
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="width: 100px"></div>
    <table class="content-table">
      <ng-container *ngFor="let lab of incomingLabs">
        <td>
          <thead>
            <th>
              {{ lab.reports.chem7.sampleCollectionDate }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let report of lab.reports.chem7 | keyvalue">
              <td *ngIf="report.key != 'sampleCollectionDate'">
                {{ report.key }}
              </td>
              <div class="btn-container">
                <td *ngIf="report.key != 'sampleCollectionDate'">
                  <ng-container *ngIf="report.value">
                    {{ report.value }}
                  </ng-container>
                  <ng-container *ngIf="!report.value"> -- </ng-container>
                </td>
                <button
                  class="btn"
                  *ngIf="
                    report.key != 'sampleCollectionDate' &&
                    report.value &&
                    !currentLab.reports.chem7[report.key]
                  "
                  (click)="updateCurrentLabs(report.key, report.value)"
                >
                  Add
                </button>
              </div>
            </tr>
          </tbody>
        </td>
      </ng-container>
    </table>
  </body>
</html>
